@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/Roboto-Regular.woff);
}
body {
  font-family: RobotoRegular, sans-serif !important;
  font-size: 14px !important;
}
.cafila-btn {
  border: none;
  color: #616161;
}

.addcflphoto {
  padding: 0;
  position: relative;
  background: #ebebeb url(../../images/cameraicn.png) no-repeat center;
  background-size: 2.5vw;
  height: 4vw;
  width: 4vw;
  border-radius: 5vw;
}

.plusign {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -0.3125vw;
  right: -0.3125vw;
  background: url(../../images/plussign.png) no-repeat center;
  width: 1.1979166666666667vw;
  height: 1.1979166666666667vw;
  background-size: 1.1979166666666667vw;
}

.search-line .avatar-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.search-line .trash {
  float: right;
  padding-top: 10px;
}

.list-group-item:hover {
  background: rgba(40, 181, 244, 0.5);
  color: white;
}
.mycafila-chat #action_menu_btn {
  position: absolute;
  right: 10px;
  left: inherit;
  top: 25px;
  cursor: pointer;
  font-size: 20px;
}
.create-mycafila .cafila-search {
  margin-top: 15px;
  margin-top: 15px;
  height: 18rem;
  border: 1px solid #28b5f4;
  overflow-y: auto;
  border-radius: 0.25rem;
}

.cafila-search .list-group-item {
  padding: 7px 7px;
}

.cafila-search .list-group-item .trash {
  cursor: pointer;
}

.create-mycafila .modal-footer .btn-primary {
  background-color: #039be5;
  border-color: #039be5;
}
.create-mycafila .modal-footer .btn-secondary {
  background-color: #fff;
  border-color: #039be5;
  color: #039be5;
}
.create-mycafila .modal-footer .btn-secondary:hover {
  background-color: #039be5;
  border-color: #039be5;
  color: #fff;
}
@media (max-width: 767px) {
  .wrapper .content {
    margin-left: 0;
  }
  .msgsection.chat {
    margin-top: 20px;
  }
  .img_cont {
    margin-left: 15px;
  }
  .mycafila-chat .action_menu-arrow {
    left: 10px !important;
    right: inherit !important;
    top: 25px !important;
    position: absolute;
  }
  .plusign {
    width: 24px;
    height: 24px;
    background-size: 100%;
    right: -22px;
  }
  .addcflphoto {
    background-size: 100%;
    background-color: #fff;
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 768px) {
}
