
body {
  font-family: RobotoRegular, sans-serif !important;
  font-size: 14px !important;
}




.primary-btn {
  color: white;
  background: #039be5;
}
.tab-content> .card{
  box-shadow: none;
}

.network-table th {
  font-family: RobotoBold;
}
.network-table td {
  font-family: RobotoRegular;
}

.project-state {
  text-align: center;
}

.mentorList > .active {
  background: white !important;
  border-left: none !important;
}
.networkbblk {
  padding: 0;
  margin: 0 0 0 4.375vw;
  float: left;
  width: 62.938vw;
  position: relative;
}
ul {
  list-style: none;
}

.mentorList {
  padding: 0.625vw 0 0.4166666666666667vw 0;
  margin: 1.0416666666666665vw auto 3.5416666666666665vw;
  float: none;
  text-align: center;
}
.mentorList li {
  font-family: RobotoBold;
  margin: 0 1.5625vw;
  padding: 0;
  position: relative;
  list-style: none;
  line-height: 2.5vw;
  text-align: center;
  font-size: calc(1.125rem + ((1vw - 13.6px) * 1.0714));

  display: inline;
  font-weight: normal;
}

.mentorList li a {
  color: #707070;
  font-family: ;
  text-decoration: none;
  padding: 0 0 1.0416666666666665vw;
}

.mentorList li.active a span {
  background: #28b5f4;
}
.mentorList li a span {
  /* background: #fff; */
  border-radius: 0.4166666666666667vw;
  position: absolute;
  height: 0.4166666666666667vw;
  width: 95%;
  left: 0;
  float: left;
  margin: 1.0416666666666665vw 0 0;
  top: 1.09375vw;
}

.removementos {
  position: absolute;
  top: 2.1354166666666665vw;
  z-index: 99;
  right: 0px;
  cursor: pointer;
  width: 2.083333333333333vw;
  line-height: 1.7708333333333333vw;
  height: 1.7708333333333333vw;
  text-align: center;
  border-radius: 0.4166666666666667vw 0.4166666666666667vw 0 0;
}
.removementos ul {
  padding: 0;
  margin: 0;
  display: none;
}
ul {
  list-style: none;
}
.removements {
  position: relative;
  z-index: 999;
}
.networkDet {
  width: 8.854166666666668vw;
  float: left;
  margin: 0 1.6666666666666667vw;
  min-height: 14.84375vw;
  position: relative;
}
.closeMentor {
  position: absolute;
  height: 1.6666666666666667vw;
  z-index: 3;
  width: 1.6666666666666667vw;
  background: url(../images/closeBtn.png) no-repeat center;
  background-size: 1.6666666666666667vw;
  top: -0.3125vw;
  right: 0vw;
  cursor: pointer;
  display: none;
}
.mentorImg {
  width: 7.8125vw;
  height: 7.8125vw;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}
img,
object,
embed,
video {
  max-width: 100%;
  width: 100%;
  border: 0;
}
.msgicn {
  padding: 0;
  width: 2.5vw;
  position: absolute;
  bottom: -1.09375vw;
  left: 0;
  right: 0;
  margin: auto;
}
.mentorName {
  font-size: calc(1rem + ((1vw - 13.6px) * 0.8929));
  line-height: 1.1458333333333333vw;
  font-family: "Roboto", sans-serif;
  color: #000;
  text-align: center;
  padding: 1.3020833333333335vw 0 0;
}
.mentorPoss {
  font-size: calc(0.75rem + ((1vw - 13.6px) * 0.7143));
  line-height: 1.1458333333333333vw;
  font-family: "Roboto", sans-serif;
  color: #000;
  text-align: center;
}

a:hover,
a:active {
  outline: 0;
}
@media (max-width: 767px) {
  .responsive-table {
    overflow: scroll;
  }
  .mentorList li {
    font-size: 12px;
  }
  .mentorList li.active a {
    border-bottom: 2px solid #039be5;
  }
  .mentorList li.active span {
    display: none;
  }
}
