@font-face {
  font-family: RobotoRegular;
  src: url(../..//fonts/Roboto-Regular.woff);
}
@font-face {
  font-family: RobotoBold;
  src: url(../../fonts/Roboto-Bold.woff);
}

body {
  font-family: RobotoRegular, sans-serif !important;
  font-size: 14px !important;
}

.review-block .row {
  position: relative;
}

.problem-statement {
  border: 1px solid #039be5;
  padding: 10px;
  border-radius: 10px;
  font-family: "RobotoLight";
  font-size: 1rem;
}

.comment-description {
  font-family: "RobotoRegular";
  font-size: 1rem;
  height: 100px;
  padding: 1px;
  border: 1px solid #039be5;
  overflow-y: auto;
}

.filename {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

h2 {
  font-family: RobotoBold !important;
}

.solution-statement textarea {
  background: #fafafa;
  resize: none;
  height: 150px !important;
  font-family: "RobotoMedium";
  overflow: auto;
}

.search-result {
  max-height: 200px;
  overflow: auto;
}
.search-result li:hover {
  color: #fff;
  background-color: #007bff;
}

.soltion-screenshot img {
  margin: 10px;
}

.close-icon {
  position: absolute;
  font-size: 1rem;
  right: 0;
  top: -20px;
  z-index: 4;
}

.close-icon:hover {
  cursor: pointer;
  font-size: 1.3rem;
}
.right-attachments {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid;
  border-radius: 0.25rem;
  border-color: #007bff;
}

.right-attachments div {
  border: 1px solid;
  margin: 8px;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-color: #007bff;
  border-radius: 10rem;
}
.right-attachments div:hover {
  background-color: #007bff;
  color: white;
}

.right-attachments div i {
  display: block;
  float: right;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.mysolutions-page .img-thumbnail {
  border: 0;
  box-shadow: none;
}
.mysolutions-page .userData a {
  color: #222;
  font-size: 18px;
}
.mysolutions-page .attachments {
  margin-top: 20px;
}
.mysolutions-page .collapsed {
  font-size: 14px;
}

.mysolutions-page .data-section button img {
  width: 20px;
  height: 20px;
}
.mysolutions-page .right-attachments {
  margin-bottom: 20px !important;
}
.mysolutions-page .right-attachments div {
  /* padding: 5px 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mysolutions-page .right-attachments div .fa-times-circle {
  float: right;
}
.mysolutions-page .download-all-btn button {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 24%);
}
.mysolutions-page .solution-button button {
  box-shadow: 0 2px 8px rgb(0 0 0 / 24%);
  margin-bottom: 15px;
}
.ppl {
  padding: 15px 0 0 10px;
}
.ppl:hover {
  box-shadow: 0 6px 12px rgb(0 0 0 / 16%);
}
.review-block .close-icon .fa-window-close {
  color: red;
}
@media (max-width: 767px) {
  .wrapper .content{
    margin-left: 0 !important;
  }
  .ppl {
    padding: 15px 0 10px 10px;
  }
}
