.image-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.problem-statement p {
  color: black;
}

.attachments {
  max-height: 323px;

  overflow-x: hidden;
  overflow-y: auto;
}

.attachments-thumbnail {
  margin: 3px;
}


.data-section {
    max-height: 550px;
    overflow-y: auto;
}
.file-data img{
  max-width: 100%;
  width: 100%;
}

.mysolutions-page .img-thumbnail {
  border: 0;
  box-shadow: none;
}
.mysolutions-page .userData a{
  color: #222;
  font-size: 18px;
}
.mysolutions-page .attachments {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mysolutions-page .collapsed {
  font-size: 14px;
}
.mysolutions-page .data-section button {
  margin-right: 10px;
}
.mysolutions-page .data-section button img {
  width: 20px;
  height: 20px;
}
.mysolutions-page .right-attachments {
  margin-bottom: 20px !important;
}
.mysolutions-page .right-attachments div {
  padding: 5px 10px;
}
.mysolutions-page .right-attachments div .fa-times-circle {
  float: right;
}
.mysolutions-page .download-all-btn button{
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 24%);
}
.mysolutions-page .solution-button button {
  box-shadow: 0 2px 8px rgb(0 0 0 / 24%);
  margin-bottom: 15px;
}
.mysolutions-page .feedback-attahcment button {
  margin-bottom: 10px;
}
.mysolutions-page .review-block-description {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .mysolutions-page .attachments .attachments-thumbnail {
    width: 70px;
    float: left;
  }
}





.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}


.feedback-thumbnail {
    
}