@font-face {
  font-family: RobotoRegular;
  src: url(../..//fonts/Roboto-Regular.woff);
}
@font-face {
  font-family: RobotoBold;
  src: url(../../fonts/Roboto-Bold.woff);
}
.text {
  text-align: center;
}
@font-face {
  font-family: RobotoLight;
  src: url(../../fonts/Roboto-Light.woff);
}
@font-face {
  font-family: RobotoMedium;
  src: url(../../fonts/Roboto-Medium.woff);
}

.upload-profile-carsousel .carousel-control-btn {
  top: 50% !important;
  bottom: 50% !important;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: #28b5f4;
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
}

.upload-profile-carsousel .carousel-control-prev {
  left: 20px;
}

.upload-profile-carsousel .carousel-control-next {
  right: -28px !important;
}

.upload-profile-carsousel .active {
  border-left: 0px;
}

.upload-profile-carsousel .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
.upload-profile-carsousel .carousel-indicators li {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0 !important;
  width: auto;
}
.upload-profile-carsousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
  height: 5rem;
}
.upload-profile-carsousel .carousel-indicators li.active img {
  opacity: 1;
}
.upload-profile-carsousel .carousel-indicators li:hover img {
  opacity: 0.75;
}
.upload-profile-carsousel .carousel-outer {
  position: relative;
}
.upload-profile-carsousel .carousel-inner .active {
  background: black;
}
.upload-profile-carsousel .carousel-inner .profile-frame {
  min-height: 26rem;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-profile-carsousel .carousel-inner .profile-frame.uploaded-data {
  object-fit: contain;
  background: lightgray;
  width: inherit;
}

.back-button {
  text-align: center;
}

.image-canvas {
  position: relative;
}
.zoom-icon {
  position: absolute;
  z-index: 1;
  right: 5px;
  cursor: pointer;
  top: 2px;
}

.carousel-control-btn {
  top: 50% !important;
  bottom: 50% !important;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: #28b5f4;
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
}

.carousel-control-next {
  right: -50px !important;
}

.carousel-inner .active {
  border: none;
}

.post-share {
  color: #616161 !important;
  font-family: "RobotoBold" !important;
  font-size: 1.125rem !important;
}
.content-wrapper {
  background-color: #e4e4e4 !important;
}

.wrapper .content {
  padding-top: 2vw;
  margin-left: 2vw;
  padding-bottom: 2vw;
}

.title-div {
  display: flex;
  align-items: center;
  text-align: center;
}

.title-div p {
  display: inline;
  margin-left: 10%;
  font-family: "RobotoBold";
}

.primary-btn {
  background: #039be5 !important;
  color: white !important;
}

.secondary-btn {
  color: #039be5 !important;
  border-color: #039be5 !important;
}

.post-img {
  padding-left: 1rem;
  padding-right: 1rem;
}

.marker-section {
  background: #fafafa;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #d7d7d7;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* .marker-comment-close {
  display: flex;
  align-items: center;
  text-align: end;
} */

.view-edit-post .image-post {
  position: relative;
}
.view-edit-post .close-icon {
  position: absolute;
  top: 1%;
  right: 2%;
}
.view-edit-post .back-button {
  text-align: center;
}
.view-edit-post .marker-buttons > button {
  width: 75%;
}

.view-edit-post .btn-group {
  width: 75%;
}
.view-edit-post .toggle-primary .dropdown-menu {
  min-width: 0 !important;
  width: 100%;
}
.view-edit-post .canvas-img {
  height: 750px;
  width: 100%;
}
.view-edit-post .primary-btn-outline .carousel-item img {
  width: 100%;
  height: 30vw;
}

@media (max-width: 576px) {
  .view-edit-post .canvas-img {
    height: 450px;
  }
}
