body {
  background-color: white !important;
}
.content-wrapper {
  background-color: white !important;
}

@font-face {
    font-family: RobotoRegular;
    src: url(../..//fonts/Roboto-Regular.woff);
  }
  @font-face {
    font-family: RobotoBold;
    src: url(../../fonts/Roboto-Bold.woff);
  }
 
  @font-face {
    font-family: RobotoLight;
    src: url(../../fonts/Roboto-Light.woff);
  }
  @font-face {
    font-family: RobotoMedium;
    src: url(../../fonts/Roboto-Medium.woff);
  }

.feeed-title {
  font-size: 1.7rem;
  /* font-family: "RobotoBold";  */
  text-align: center;
  /* font-size: calc(1.125rem + ((1vw - 13.6px) * 1.0714)); */
    font-family: MontserratRegular;
}

.feed-card{
    display: flex;
    align-items: center;
}

.card-text label{
    font-family: 'RobotoBold';
}

@media only screen and (max-width: 600px) {
  .smallscreendesign {
    padding-left: 12%;
    margin-left: -9%;
    margin-right: 3%;
  }
}
@media only screen and (max-width: 600px)
{
  .sstitle{
    font-size: 100%;
      margin-top: 3%;
  }
}

@media only screen and (max-width: 600px) {
  .sssmallimg1 {
    margin-left: 1%;
    width: 30%;
    margin-bottom: -9%;
}
}

@media only screen and (max-width:600px) {
  .ssstar{
    margin-left: 432%;
    margin-top: -156%;
  }
}

@media only screen and (max-width:600px) {
  .sstext{
    margin-left: 150%;
    margin-top: -139%;
  }
}

@media only screen and (min-width:768px) {
  .col-md-2{
   flex:0 0 20%;
   max-width: 20%;
  }
}

