.wrapper {
  background: linear-gradient(to bottom, #ebebeb 0, #28b5f4 76%, #0593d0 100%);
}

.left-text {
  font-size: 3rem;
  margin-top: 17%;
  color: white;
}
.left-text > h2 {
  font-size: 5rem;
}

.left-text .left-desc {
  font-size: 1rem;
}

.change-panel {
  background-color: white;
  border-radius: 20px;
  margin-top: 15%;
  padding: 2rem;
  box-shadow: 0 16px 24px rgb(0 0 0 / 16%);
}

.contact-textarea {
  resize: none;
  height: 100px !important;
  background: #efefef !important;
  border: 0 !important;
  font-family: "";
  border-radius: 4px !important;
  padding: 10px 2% !important;
}
