@font-face {
  font-family: RobotoRegular;
  src: url(../..//fonts/Roboto-Regular.woff);
}
@font-face {
  font-family: RobotoBold;
  src: url(../../fonts/Roboto-Bold.woff);
}
.text {
  text-align: center;
}

.activement-title,
.qualification-title {
  font-size: calc(1.125rem + ((1vw - 13.6px) * 1.0714));
  line-height: 1.5104166666666667;
  font-weight: 400;
  font-family: "RobotoBold";
  color: #707070;
}
.workexperience-title{
  font-size: calc(1.125rem + ((1vw - 13.6px) * 1.0714));
  line-height: 1.5104166666666667;
  font-weight: 400;
  font-family: "RobotoBold";
  color: #707070;
}
.textareacontent{
  padding: 5px 2%;
    margin: -11px 0 20px;
    font-family: Roboto,sans-serif;
    font-size: calc(.75rem + ((1vw - 13.6px) * .3571));
    color: #666;
    border: 0;
    height: 7.8125vw;
    width: 100%;
    background: #fbfbfb;
    float: left;
    resize: none;
    border-radius: 5px;
}


.degree-input label {
  color: #616161;
  font-family: "RobotoRegular";
  font-weight: 400 !important;
  line-height: 1.5em;
}
.year-select {
  margin-top: 30px;
}
.close-degree {
  margin-top: 35px;
  color: red;
}
.year-select .btn {
  background-color: #fff;
  border: 0;
  display: inline-block;
  font: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: calc(0.875rem + ((1vw - 13.6px) * 0.3571));
  font-family: Roboto, sans-serif;
  color: #616161;
  border-radius: 5px;
  box-shadow: 0 1px 4px #999;
}

.achievement-tab .close-icon {
  color: red;
}
.achievement-tab .close-icon:hover {
  color: red;
  cursor: pointer;
  font-size: 1.5rem;
}

.primary-btn-outline {
  border-color: #28b5f4;
  color: #28b5f4;
}

.primary-btn {
  background-color: #28b5f4;
  text-align: center;
  color: white;
  width: 9.166666666666666vw;
  line-height: 1.5vw;
  font-size: calc(1rem + ((1vw - 13.6px) * 0.8929));
  border-radius: 1.25vw;
  box-shadow: 0 2px 8px rgb(0 0 0 / 24%);
}

.primary-btn-outline:hover {
  border-color: #28b5f4;
  background-color: #28b5f4;
  color: white;
}

.achievement-tab .attachment-list {
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 10rem;
  border: 2px solid #c7c7c7;
}

.achievement-tab .attachment-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.primary-skill-carosuel .card {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.primary-skill-carosuel .card:hover {
  width: 100%;
  border: 3px solid #28b5f4;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.primary-skill-carosuel .card-active {
  width: 100%;
  border: 3px solid #28b5f4;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.carousel-control-btn {
  top: 50%;
  bottom: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: #28b5f4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-control-next {
  right: -26px;
}

.primary-skill-carosuel .card img {
  width: 90px;
  height: 90px;
}

.home-tab .gender-btn-group .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #2196f3 !important;
  line-height: 2.1vw;
  padding: 0;
  color: #fff;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  box-shadow: 0 0 6px #999;
}

.home-tab .gender-btn-group .btn-primary {
  color: #616161;
  background: white;
  border: none;
}

.adjustcard{
  margin-left: 18%;
}
.qfont1{
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .superimg {
    max-width: 30%;
    margin-left: 33%;
  }
}
@media only screen and (max-width: 600px) {
  .mainform {
    margin: 4%;
  }
}

@media only screen and (max-width:600px){
  .qfont{
    font-size: 14px;
    margin-left: -7%;
  }
  .setdropdown{
    padding-right: 166%;
    margin-bottom: 13%;
    margin-top: -13%;
  }
  .crosssymbol{
    padding-left: 111%;
  }
}
.workexfont{
  margin-left:10%;
   margin-right: 18%;
    font-size: 85%;
}

@media only screen and(max-width:600px){
  .fontsmallscreen{
     font-size: 63%
  }
}
@media only screen and (max-width:600px){
  .textareacontent{
    margin-left: -17%;
  }
}

@media only screen and (max-width:600px){
  .smallscreen{
    margin-left: 5%;
    width: 90%;
  }
}

@font-face {
  font-family: RobotoLight;
  src: url(../../fonts/Roboto-Light.woff);
}
@font-face {
  font-family: RobotoMedium;
  src: url(../../fonts/Roboto-Medium.woff);
}


.tab-content .active {
  background: white !important;
  border-left: none;
  color: black;
}
.profile-pic1 {
  z-index: 1;
  height: 100%;
  width: 100%;
  border: 0;
  box-shadow: none;
}
.aboutDtlss {
  position: absolute;
  width: 30.677083333333332vw;
  left: -7.447916666666667vw;
  text-align: center;
  padding: 5.3125vw 0 0;
}
.aboutDtlss.proflarwrk .name_year {
  font-family: "MontserratRegular";
  color: #000;
}
.name_year {
  font-size: calc(1.125rem + ((1vw - 13.6px) * 1.0714));
  font-weight: normal;
  line-height: 1.5625vw;
}

.profile_dis {
  padding: 0 0 2.604166666666667vw;
  margin: 0;
  position: absolute;
  top: -10.625vw;
  width: 49.895833333333336vw;
  right: 0;
  z-index: 6;
}
.profile_cnt {
  padding: 0;
  margin: 0;
  width: 94%;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 16%);
  background: #fff;
  border-radius: 1.0416666666666665vw;
  overflow: hidden;
}
.tab_wrapper {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  position: relative;
}
.tab_wrapper > ul {
  clear: both;
  display: inline-block;
  width: 100%;
}
.tab_wrapper > ul li a {
  color: #999;
}
.tab_wrapper > ul li {
  float: left;
  cursor: pointer;
  font-weight: normal;
  padding: 20px;
  font-size: calc(0.875rem + ((1vw - 13.6px) * 0.7143));
  border-bottom: 0;
  line-height: 1.25vw;
  margin: 0;
  font-family: "ROBOTOLIGHT";

  text-align: center;
  position: relative;
  list-style: none;
}

.area-work p {
  font-family: "RobotoBold", sans-serif;
  color: #707070;
  text-align: center;
  font-size: calc(1.125rem + ((1vw - 13.6px) * 1.0714));
}

.area-work .search-input {
  width: 25rem;
  text-align: center;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #495057;
}

.area-work .skil-section {
  margin: auto;
  width: 70%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d7d7d7;
}
::-webkit-scrollbar {
  width: 4px;
}

.area-work div .skill-icon {
  cursor: pointer;
  border: 2px solid rgb(180, 150, 150);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.area-work div .primary-btn {
  background-color: #28b5f4;
  text-align: center;
  color: white;
  width: 9.166666666666666vw;
  line-height: 1.5vw;
  font-size: calc(1rem + ((1vw - 13.6px) * 0.8929));
  border-radius: 1.25vw;
  box-shadow: 0 2px 8px rgb(0 0 0 / 24%);
}

.area-work div .skill-icon:hover {
  background-color: #28b5f4;
  cursor: pointer;
  border-color: #28b5f4;
  color: white;
}

.area-work div .skill-icon img {
  width: 30px;
  height: 30px;
}
.area-work span {
  font-family: "RobotoLight";
}

.area-work div .active-skill {
  background-color: #28b5f4;
  border-color: #28b5f4;
  width: 65px !important;
  height: 65px !important;
}

.home-tab .form-group label {
  font-family: "RobotoMedium";
  color: #616161;
  font-size: calc(0.875rem + ((1vw - 13.6px) * 0.3571));
}

.home-tab .form-group input {
  color: #616161;
  height: 2.396vw;
  font-size: calc(0.875rem + ((1vw - 13.6px) * 0.3571));
}

.achievement-tab {
  width: 70%;
  margin: auto;
}
.achievement-tab small {
  font-size: 1.2rem;
  float: right;
}
.tab_wrapper * {
  box-sizing: border-box;
}
.tab_wrapper > ul li span {
  height: 0.5208333333333333vw;
  width: 3.177083333333333vw;
  position: absolute;
  bottom: -0.26041666666666663vw;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0);
}
.tab_wrapper > ul li .active {
  font-family: "RobotoBold", sans-serif;
  border-bottom: 5px solid #ff6565 !important;
  border-left: none;
  border-right: none;
  color: #000;
  border-top: none;
  border-radius: 0;
}

.tab_wrapper > ul li a:hover {
  font-family: "RobotoBold", sans-serif;
  border-bottom: 5px solid #ff6565 !important;
  border-left: none;
  border-right: none;
  color: #000;
  border-top: none;
  border-radius: 0;
}

.tab_wrapper .content_wrapper {
  float: left;
  width: 100%;
  border-top: 0;
  box-sizing: border-box;
}

.saveBtn {
  line-height: 2.5vw;
  padding: 0 0 0 3.4895833333333335vw;
  margin: 0;
  text-align: left;
  width: 9.166666666666666vw;
  border-radius: 1.25vw;
  font-size: calc(1rem + ((1vw - 13.6px) * 0.8929));
  color: #fff;
  font-family: Roboto, sans-serif;
  background: url(../../images/saveBtn.33fc7b5f91c8d6406ad1.png) 0.9375vw center
    no-repeat #28b5f4;
  box-shadow: 0 2px 8px rgb(0 0 0 / 24%);
}


.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}